.page-hero {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  min-height: 428px;

  &__hr {
    border-bottom: 1px solid #ccb684;
    height: 2px;
    border-top: 1px solid #5a421d;
    margin-top: 20px;
  }
}

.page-nav {
  text-align: center;
  padding-top: 80px;

  li {
    display: inline-block;

    & + li {
      margin-left: 89px;
    }

    a {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      text-decoration: none;
    }
  }
}
