//------------------------------------------------------------------------------
//  Общие правила
//------------------------------------------------------------------------------

// Make viewport responsive
// see http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { /* stylelint-disable-line  at-rule-no-vendor-prefix */
    width: device-width;
  }
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// see: https://github.com/suitcss/base
[tabindex='-1']:focus {
  outline: none !important;
}

// iOS 'clickable elements' fix for role='button'
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
[role='button'] {
  cursor: pointer;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
// see:
// http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
// http://caniuse.com/#feat=css-touch-action
// http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

.clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.placeholder-color(@color) {

  &:-moz-placeholder,
  &::-moz-placeholder {
    color: @color;
    opacity: 1;
  }

  &::-webkit-input-placeholder {
    color: @color;
  }
}

//------------------------------------------------------------------------------
//  Базис
//------------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; /* stylelint-disable-line  property-no-vendor-prefix */
  min-width: 320px;
  min-height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  min-height: 100%;
  min-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.container {
  width: 1172px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.dib {
  display: inline-block;
  vertical-align: top;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #6a86a5;
    text-decoration: underline;
  }

  &:active {
    color: #b1a77d;
    text-decoration: underline;
  }
}


figure {
  margin: 0;
}
